body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.header__logo{
    font-size: 80px;
    margin-bottom: 64px;
}
.header__logo > span{
    color: #4BCAFF; 
}
.nav{
    background-color: #35444F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__list{
    display: flex;
}
.nav__link{
    display: inline-block;
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding: 24px 35px 18px 35px;
    border-left: 1px solid white;
}
.nav__link:last-child{
    border-right: 1px solid white;
}
.nav__link:hover{
    background-color: #0d1114;
}
.content{
    display: flex;
    gap: 51px;
}
.content-menu{
    display: flex;
    border: 1px solid #DBDBDB;
    width: 344px;
}
.content-menu__item{
    width: 100%; 
    display: block;
}
.content-menu__list{
    display: flex;
    flex-direction: column;
    width: 100%; 
}
.content-menu__link{
    display: block;
    text-decoration: none;
    color:  #485863;
    font-size: 27px;
    padding: 27px 80px 27px 44px;   
}
.content-menu__link:hover{
    color: #000;
    background-color: #35444F;
}
.content-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px;
    height: 529px;
    border: 1px solid  #35444F;
}
.content-text{
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.container-footer{
    display: flex;
    justify-content: center;  
    background-color: #63696E;
    width: 1280px;
    margin: 0 auto;
    margin-top: 51px;
}
.footer__item{
    display: flex;
}
.footer__link{
    display: inline-block;
    font-size: 28px;
    color: #0C1927;
    text-decoration: none;
    padding: 20px 20px 20px 20px;
    line-height: 24px
}
.footer__link:hover{
    color: #3181A6;
}
